:root{
  --bg-color: #020420;
  --primary-color: #1C64F2;
  --gray-color: #969CA8;
  --gray-bg: #1F2937;
  --gray-border: #374151;
}


.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: var(--bg-color);
}

